{{template "base" .}}

{{define "title"}}Create a new snippet{{end}}

{{define "main"}}
<form action='/snippet/create' method='POST'>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  {{with .Form}}
  <div>
    <label for="title">Title:</label>
    {{with .Errors.Get "title"}}
    <p class="error">{{.}}</p>
    {{end}}
    <input type='text' name='title' value='{{.Get "title"}}'>
  </div>

  <div>
    <label for="content">Content:</label>
    {{with .Errors.Get "content"}}
    <p class="error">{{.}}</p>
    {{end}}
    <textarea name='content' value='{{.Get "content"}}'></textarea>
  </div>

  <div>
    <label for="expires">Delete in:</label>
    {{with .Errors.Get "expires"}}
    <p class="error">{{.}}</p>
    {{end}}
    {{$exp := or (.Get "expires") "365"}}
    <span><input type='radio' name='expires' value="365" {{if (eq $exp "365" )}}checked{{end}}> One year</span>
    <span><input type='radio' name='expires' value="7" {{if (eq $exp "7" )}}checked{{end}}> One week</span>
    <span><input type='radio' name='expires' value="1" {{if (eq $exp "1" )}}checked{{end}}> One day</span>
  </div>

  <div>
    <input type="submit" value="Publish snippet">
  </div>
  {{end}}
</form>
{{end}}